<div class="col-md-2 sidebar side">
    <p class="">
        <a href="/admin/home">
            <span class="side">
                <i class="fas fa-home"></i>
                Home
            </span>
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/admin/profile">
            <span class="side">
                <i class="fas fa-user"></i>
                Profil
            </span>
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/admin/customers">
            <span class="side">
                <i class="fas fa-users"></i>
                Pelanggan
            </span>
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/admin/books">
            <span class="side">
                <i class="fas fa-book"></i>
                Buku
            </span>
        </a>
    </p>
</div>
